.quote {
    position: relative;
    top: 160px;
    max-width: 75vw;
    height: 162px;
    background: #422ED4;
    box-shadow: 0px 100px 80px rgba(80, 76, 103, 0.07), 0px 0px 10.0172px rgba(80, 76, 103, 0.035);
    border-radius: 25px;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

    padding: 24px;

    color: #FFFFFF;
}


.chuck-img {
    position: absolute;
    width: 122px;
    z-index: -1;
    height: 258px;
    right: 55px;
    bottom: 108px;
}
